#content
	%div
		#title
			%h1 A Word From Our Founders
		#imageBarLeft
			%div
				%ul
					%li
						=image_tag('imgBL 1.jpg')
					%li
						=image_tag('imgBL 2.jpg')
					%li
						=image_tag('imgBL 3.jpg')
					%li
						=image_tag('imgBL 4.jpg')
					%li
						=image_tag('imgBL 5.jpg')
					%li
						=image_tag('imgBL 6.jpg')
					%li
						=image_tag('imgBL 7.jpg')
		#foundersLetter
			%h2 Dear Visitors and Friends,
			%p "Why not?" We said, responding to a new friend's request for assistance. It was Summer of 2011, and we couldn't imagine that our now-grinning friend's ask would evolve into a years-long partnership to create a sustainable, locally-managed and funded rural education center. Instead, we dove headfirst into what we believed to be an opportunity to help teacher Harriet Jacobs plan out building a nursery school in her home village of Olgilai, Tanzania. That our eager response to her request has led to the education of 50+ Olgilai children with the promise to empower countless more still leaves me awestruck.

			%h2 Mission, Impact, People. The three criteria I use to judge the quality of an organization are those against which Green Hope has, since its inception, performed distinctively.

			%p At a high level, the organization's Mission is to combat poverty through education. However, beneath this broad statement is a promise to use local Tanzanian talent and funding in order to meet the Mission. The goal is to provide a world-class education for the children of Olgilai through an organization whose operations are completely funded and managed in-country, without charging all students restrictive school fees. This business model, which is enabled through innovative practices including advisory mentorships with local leadership and ancillary school-owned businesses, is one that could potentially be delivered at scale to other rural areas.

			%h2 Green Hope's Impact is measurable: Over 50 children ages 2-7 have benefited from English-medium nursery instruction since the school's Fall 2011 establishment. We look forward to empowering generations to come within (and potentially beyond) Olgilai with the best education money doesn't have to buy.

			%p And, finally, the People -- suffice it to say Green Hope has the most wonderful, knowledgeable staff in Tanzania dedicated to the improvement of Olgilai. And the US volunteers who drop everything to spend their summers in Olgilai following a challenging application and interview process are well-qualified, change-minded, and passionate individuals.

			%p I encourage you to get involved in this organization, supporting as a volunteer or donor, and welcome you as one of the People working tirelessly to generate sustainable and positive Impact with our Mission as our compass.
			
			%p Karibu sana.
		#signature
			=image_tag('snyders signature.jpg')