#content
	%div
		#title
			%h1 About The Green Hope Orphanage, Inc.		
		#words
			%div
				#blockA
					%div
						#left
							=image_tag('andrew.jpg')
					%div
						#right
							%h1 Our Vision
							%p The vision of The Green Hope Orphanage, Inc. is to have the children of rural Tanzania equipped with the academic foundation and personal motivation to create opportunity, develop community, and combat poverty.

							%p We believe education provides children the capability to overcome poverty, bettering themselves and their communities.
				#blockB
					%div
						#left
							%h1 Our Mission
							%p The Green Hope Orphanage, Inc. provides financial, administrative, and academic support to educational institutions in underserved, low-income communities in rural Tanzania.
							%p Our assistance is targeted at institutions run with a local perspective, integrating themselves into the community, and ensuring the needs of those it serves is met.
					%div
						#right
							=image_tag('harriet teaching.jpg')
				#blockC
					=link_to image_tag('our story button.jpg'), story_path
					%span
						%h2.picturetext Our Story