#content
	%div
		#peoplelist
			%ul
				%li
					#picture
						=image_tag('rob headshot.jpg')
					#name
						%h1 Robert Snyder
						%h2 Chairman
						%p Mr. Snyder graduated from Pitt with a degree in Political Science and Economics in 2013. He is a management consultant while also serving as the Chairman of the Board of Directors for Green Hope.
				%li
					#picture
						=image_tag('pooja headshot.jpg')
					#name
						%h1 Pooja Patel
						%p
				%li
					#picture
						=image_tag('ari headshot.jpg')
					#name
						%h1 Ari Hamilton
						%p Ari Hamilton is a graduate student at the London School of Economics, enrolled in the Urbanisation and Development Taught Masters program. He has been involved with Green Hope since it's first volunteer trip to Olgilai in the summer of 2012, and served as President of the non-profit following the 2013 through the 2014 trips. His experience with Green Hope drives his academic interest in development, and inspires his career aspirations to work in international development. For Ari, Green Hope not only offered an incredible introduction to an academic field, but an opportunity to implement best practices in partnership between nonprofits and local talent, and provide an otherwise absent quality education to the children of Olgilai.
				%li
					#picture
						=image_tag('danny headshot.jpg')
					#name
						%h1 Danny Zaidi
						%p "Green Hope Orphanage has been a very significant part of my life over the course of the last few years. My first trip to Tanzania included research on the organization to see how it markets itself combined with an amazing volunteer experience. This past summer was focused more on organizational structure and the creation of a strong backbone for sustained growth and progress. The future of Green Hope is looking bright, as an organization we seek to expand our model to other villages to ultimately provide the same nurturing and academically fulfilling environment so that we can allow an education self-sufficiency model to thrive in areas where it hasn't before." - Danny