#content
	%div
		#peoplelist
			%ul
				%li
					#picture
						=image_tag('rob headshot.jpg')
					#name
						%h1 Robert Snyder
						%h2 Chairman
						%p Mr. Snyder is a co-founder of Green Hope, and a major part of its early development. Soon to be studying at Harvard Business school, Robert 
				%li
					#picture
						=image_tag('pooja headshot.jpg')
					#name
						%h1 Pooja Patel
						%p
				%li
					#picture
						=image_tag('ari headshot.jpg')
					#name
						%h1 Ari Hamilton
						%p
				%li
					#picture
						=image_tag('danny headshot.jpg')
					#name
						%h1 Danny Zaidi
						%p