#content
	%div
		#title
			%h1 Projects | Curriculum Development
		#featureBlock
			%div
				#left
					=image_tag('curriculum dev large.jpg')
				#right
					%p Green Hope strives to provide a world class education to our students, equipping them with the tools to better their futures. To accomplish this Green Hope has dedicated itself to providing a comprehensive curriculum to our teachers, giving them insights into early childhood education, powerful teaching methods, and meaninful techniques to measure sucess. 
		#words
			%div
				#blockB
					%div
						#left
							%h1 Today's Curriculum
							%p The curriculum development program has gone through many revisions as volunteers bring unique insights from their classroom experiences. In recent months we have begun focusing on developing teaching methods that require no teaching materials whatsoever. We hope to create a new approach to teaching that can be adapted in a number of varying situations, and make this available to education institutions around the world.
						#right
							=image_tag('curriculum dev small.jpg')	