#content
	%div
		#title
			%h1 Green Hope | Donate
		#featured
			=image_tag('volunteer banner.jpg')
		#titleText
			%h1 Help support childhood education!
		#school
			%div
				%ul
					%li
						=link_to image_tag('sponsor a teacher button.jpg'), sponsorship_path
						%span
							%h2.projects_picture_text Sponsorships
					%li
						#centerDonationButton
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="hosted_button_id" value="KW8HVC2DT7368"><input type="image" src="http://i.imgur.com/b2glpeh.jpg" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></form>
						%p All donations go straight to helping Green Hope Nursery and are 100% tax deductable!
					%li
						=link_to image_tag('primary donate button.jpg'), partners_path
						%span
							%h2.projects_picture_text Our Partners