#content
	%div
		#peoplelist
			%ul
				%li
					#picture
						=image_tag('sean headshot.jpg')
					#name
						%h1 Sean McCarthy - President
						%h2 Through creative strategic planning, Sean devises solutions to the many challenges Green Hope faces as it grows into an internationally recognized organization.
						%p "I believe education to be the single most important factor in determining the quality of life in an individual. Working with these children has been the most rewarding experience of my life, and I couldn't imagine a more valuable use of my efforts. I believe Green Hope will grow to fill a unique roll in the education sector of Tanzania, providing a service for families in rurual areas without access to high quality education." - Sean
				%li
					#picture
						=image_tag('mona headshot.jpg')
					#name
						%h1 Mona Kazour - Vice President of Education
						%h2 Ensuring each student revieves a world class education, Mona brings insight and expertise into the curriculum development process.
						%p "My name is Mona Kazour and I am a senior developmental psychology major at Pitt. I am interested and invested in incorporating developmentally appropriate curriculum in the classroom to ensure that our students have the most optimal learning environment and access to as many opportunities possible. To me, Green Hope means unlimited possibilities and a space to foster the potential of these bright children." - Mona
				%li
					#picture
						=image_tag('taylor headshot.jpg')
					#name
						%h1 Taylor Tear - Vice President of Programming
						%h2 Planning unique events to fund the operations of Green Hope, Taylor is an integral part of the Green Hope family.
						%p "The relationships that you build both within the school and within the volunteer experience, are incredibly rewarding. To begin to watch young kids come out of their shells, as well as assisting in providing them with a sound educational base is the best of what a volunteership can offer. Living in Serengeti National Park as a child, I attended Shule Avidudu, the pre-primary school for the children of National Park staff. I’ve spent most of my last two summers interning and working in Tanzania and Kenya, with a background in economics, Tanzanian culture, and Swahili. I hope to work in economic development in East Africa when I’m finished with my college career." - Taylor
				%li
					#picture
						=image_tag('grace headshot.jpg')
					#name
						%h1 Grace Strong - Vice President of Outreach
						%h2 From donor relations to connecting through social media, Grace's marketing expertise shows while she creates innovative strategies to mobalize support.
						%p I was first introduced to Green Hope my first semester at the University of Pittsburgh by one of its founding members. The passion and reasoning that was then conveyed to me about this organization become synonymous for my own investment in Green Hope. As social media coordinator it is my hope to further campus and local Pittsburgh support as this non-profit holds such meaning for the student-body as it was founded by two alum. I believe Green Hope can connect and invest the students at Pitt just as it offers supportive, and otherwise unavailable, primary education for the children of Olgilai.
				%li
					#picture
						=image_tag('helene headshot.jpg')
					#name
						%h1 Hélène Caniac - Treasurer
						%h2 While managing the finances of Green Hope, Hélène ensures transparency and accountability on all levels. 