#content
	%div
		#title
			%h1 Green Hope | Our Facilities
		#featureBlock
			%div
				#left
					=image_tag('facilities large.jpg')
				#right
					%h2 Green Hope Nursery
					%p On a half acre of land near the center of Olgilai rests our three classroom nursery school. Each classroom is dedicated to a specific age group and teaches a hand tailored curriculum best suited for the children. The different classes are fondly refered to as Baby 1, Baby 2, and Pre-Unit and are roughly equivilent to American daycare, pre-school, and kindergarden respectivly. Students learn through a combination of stories, games, songs, and exercises.
		#subBlockTitle
			%h2 In the Classroom
		#subBlock
			%div
				#left
					=image_tag('baby 1.jpg')
					%h2 Baby 1 -
					%p Focusing on the beginnings of communication, math, and objects, the students in Baby 1 build basic skills through games, song, and pictures. Most students enter Baby 1 at age 3 and by the time they leave are proficient with the alphabet, counting and using numbers 1 through 10, greetings, and politeness.
				#center
					=image_tag('baby 2.jpg')
					%h2 Baby 2 -
					%p Building upon the skills developed in Baby 1, Baby 2 introduces concepts such as familial relations, identifiying plants and animals, reading stories, addition, subtraction, and counting up to 20. Most students in Baby 2 move on by the age of 5. 
				#right
					=image_tag('pre unit.jpg')
					%h2 Pre-Unit -
					%p Our students learn advanced concepts such as possession, money, the environment, clean sources of food and water, disease, the seasons, time of day, advanced addition and subtraction, and counting numbers up to 100. Upon entering Primary school, our students have a solid academic foundation and experience in a classroom setting, allowing them to perform well above their peers.