#content
	%div
		#title
			%h1 Green Hope | Featured Volunteers
		#words
			%div
				#blockB
					%div
						#left
							%h1 Jon Korpon
							%p He had a time.. Gay jokes n shit
						#right
							=image_tag('jon headshot.jpg')
				#blockA
					%div
						#left
							=image_tag('jess headshot.jpg')
						#right
							%h1 Jess Vizziolioa
							%p Hoe in the fuck do you spell that name? They need to integrate this shite w/ fbuk
				#blockB
					%div
						#left
							%h1 Brett Stotz
							%p Stories?
						#right
							=image_tag('brett headshot.jpg')
