#content
	%div
		#title
			%h1 Green Hope | Featured Volunteers
		#words
			%div
				#blockA
					%div
						#left
							=image_tag('jess headshot.jpg')
						#right
							%h1 Jess Vezzoli
							%p The trip to Tanzania with Green Hope School was absolutely amazing! Where do I begin? When we arrived we could see there was a lot that needed to be done for the school and I believe our group was grateful to have the chance to make a real difference in the life of this school and most importantly in the lives of the children and teachers. Everyone was incredibly welcoming and everywhere we went we heard “Karibu” (“You are welcome”). The children were always ready to play and teach us about their culture. Some of the most incredible moments for me where when I was able to communicate with the children without a common spoken language. 
							%p The bond that forms with the other volunteers is also unforgettable, and unlike anything I’ve ever experienced. The many adventures on the trip became fantastic stories, some of which are so unimaginable they would only be understood by the people who were there. The slow pace of life is ideal for taking in every passing moment and locking it away safely in your memory- a pick-me-up on a bad day or a reminder that you should never take anything for granted because so many people have far less than you can imagine. The families of these children are very poor and most live in awful conditions. It was the hardest things on the trip to hold back tears as we walked for miles on the treacherous roads to the mud huts the children shared with their large families. These children show so much courage and strength each and every day and it was a pure honor to have had the chance to be a part of their education. Though I hope we have touched their lives even a little, they probably have no idea how much they have touched mine.
			-#	#blockB
			-#		%div
			-#			#left
			-#				%h1 Jon Korpon
			-#				%p He had a time.. Gay jokes n shit
			-#			#right
			-#				=image_tag('jon headshot.jpg')
			-#	#blockB
			-#		%div
			-#			#left
			-#				%h1 Brett Stotz
			-#				%p Stories?
			-#			#right
			-#				=image_tag('brett headshot.jpg')
