#content
	%div
		#title
			%h1 Green Hope | Get Involved
		#featureBlock
			%div
				#left
					=image_tag('harriet large.jpg')
				#right
					%h1 Are you ready to make a real impact on the lives of our students? Look below to see what you can do!
		#subBlock
			%div
				#left
					=image_tag('leadership button.jpg')
					%p Harriet's Past
				#center
					=image_tag('leadership button.jpg')
					%p Harriet's Present
				#right
					=image_tag('leadership button.jpg')
					%p does this even work?