#content
	%div
		#title
			%h1 Green Hope Primary | A Dream for the Future
		#featureBlock
			%div
				#left
					=image_tag('green hope primary large.jpg')
				#right
					%p One of the earliest goals of Green Hope was to one day expand into a full primary school. Similar to elementary school in the United States, high quality primary education is crucial to a solid academic foundation. As a part of Green Hope's misssion, a primary school will allow us to bring world class education to large numbers of students.
					%p The current state of primary education in Tanzania leaves many children underserved. Green Hope Primary would bridge the disparity between poor quality public schools and exclusively expensive private schools while providing them with a rigourous academic experience.
		#words
			%div
				#blockB
					%div
						#left
							%p Sitting on an acre of land, Green Hope's pre & primary school would consist of 12 buildings, 13 staff, and 200-300 students. By far our largest current project, completing the school will require Green Hope to deploy all of it's administrative, academic, and financial resources. In this we have made great strides, working with local, regional, and national Tanzanian officials, as well as our supporters here in the U.S., to ensure the school's sucess.
							%h2 Our unique model for community driven development, enrollment, and cooperation puts Green Hope in a position to create meaningful change in the lives of our students.
						#right
							=image_tag('primary small.jpg')	