#content
	%div
		#title
			%h1 Headmistress Harriet Joel
		#featureBlock
			%div
				#left
					=image_tag('harriet large.jpg')
				#right
					%h2 Harriet Joel
					%p did things when she was a girl. Then she grew up, went to college, became a teacher for 10 years, and is now running her own fucking school. Life is cray, right?
		#subBlockTitle
			%h2 Get to know Harriet
		#subBlock
			%div
				#left
					=image_tag('leadership button.jpg')
					%p Harriet's Past
				#center
					=image_tag('leadership button.jpg')
					%p Harriet's Present
				#right
					=image_tag('leadership button.jpg')
					%p does this even work?