#content
	%div
		#featured
			%div
				=image_tag('look how fucking happy enock is 2.jpg')
		#homewords
			#realwords
				%h1 The Green Hope Orphanage, Inc.
				%p An American nonprofit incorporated and operated by University students to assist in the financial, academic, and administrative support of the Green Hope Nursery School in Olgilai Village, Arusha, Tanzania.
			#picturelink
				=link_to image_tag('Big E.jpg'), about_path
				%h2.picture_link_text About Green Hope
			#socialbuttons
				%div
					%ul
						%li
							<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="hosted_button_id" value="KW8HVC2DT7368"><input type="image" src="http://i.imgur.com/b2glpeh.jpg" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></form>
						%li 
							<div class="fb-like" data-href="https://www.facebook.com/GreenHopeOrphanage" data-layout="button" data-action="like" data-show-faces="false" data-share="false"></div>
		#links
			%div
				%ul
					%li
						=link_to image_tag('leadership button.jpg'), leadership_path
						%span
							%h2.picturetext Leadership
					%li
						=link_to image_tag('school button.jpg'), school_path
						%span
							%h2.picturetext School
					%li
						=link_to image_tag('projects button 2.jpg'), projects_path
						%span
							%h2.picturetext Projects
					%li
						=link_to image_tag('volunteer button.jpg'), volunteer_path
						%span
							%h2.picturetext Volunteer
					%li
						=link_to image_tag('support button.jpg'), donate_path
						%span
							%h2.picturetext Support
					%li
						%h1 Contact Us:
						%h2 info@greenhope.us