#content
	%div
		#title
			%h1 Green Hope, Inc. | Leadership
		#titleText	
			%p Green Hope Inc. is the American nonprofit tasked with the stateside collaboration and support of its Tanzanian counterpart, The Green Hope Nursery School. The nonprofit, established by Robert Snyder and Pooja Patel in 2011, is managed by an Executive Committee of college students, and advised by a Board of Directors representing past  founders and current contributors.
		#leadership
			%div
				%ul
					%li
						=link_to image_tag('snyder.jpg'), founders_path
						%span
							%h2.leadership_picture_text Our Founders
					%li
						=link_to image_tag('board button.jpg'), directors_path
						%span
							%h2.leadership_picture_text Board of Directors
					%li
						=link_to image_tag('executive button.jpg'), executive_path
						%span
							%h2.leadership_picture_text Executive Committee
