<div class="container">
<ul class="nav">
	<li><a class="top-a" href="#x">About Us</a>
		<div><div>
		<ul>
			<li><a class="pad" href="#x"><b></b></a></li>
			<li><a class="sub" href="#x">Our Story</a></li>
		</ul>
		</div></div>
	</li>
	<li><a class="top-a" href="#x">Leadership</a>
		<div><div>
		<ul>
			<li><a class="pad" href="#x"><b></b></a></li>
			<li><a class="sub" href="#x">Our Founders |</a></li>
			<li><a class="sub" href="#x">Board of Directors |</a></li>
			<li><a class="sub" href="#x">Executive Commitee |</a></li>
		</ul>
		</div></div>
	</li>
	<li><a class="top-a" href="#x">School</a>
		<div><div>
		<ul>
			<li><a class="pad" href="#x"><b></b></a></li>
			<li><a class="sub" href="#x">Headmistress Harriet |</a></li>
			<li><a class="sub" href="#x">Teachers |</a></li>
			<li><a class="sub" href="#x">Students |</a></li>
			<li><a class="sub" href="#x">Facilities</a></li>
		</ul>
		</div></div>
	</li>
	<li><a class="top-a" href="#x">Projects</a>
		<div><div>
		<ul>
			<li><a class="pad" href="#x"><b></b></a></li>
			<li><a class="sub" href="#x">Volunteer Projects |</a></li>
			<li><a class="sub" href="#x">Curriculum Development |</a></li>
			<li><a class="sub" href="#x">Green Hope Primary</a></li>
		</ul>
		</div></div>
	</li>
	<li><a class="top-a" href="#x">Volunteer</a>
		<div><div>
		<ul>
			<li><a class="pad" href="#x"><b></b></a></li>
			<li><a class="sub" href="#x">Trip Experience |</a></li>
			<li><a class="sub" href="#x">Featured Volunteers</a></li>
		</ul>
		</div></div>
	</li>
	<li><a class="top-a" href="#x">Donate</a>
		<div><div>
		<ul>
			<li><a class="pad" href="#x"><b></b></a></li>
			<li><a class="sub" href="#x">Sponsorships |</a></li>
			<li><a class="sub" href="#x">Donations</a></li>
		</ul>
		</div></div>
	</li>
</ul>
</div>
