.relativeContent
	.relativeContent.featuredImage
		=image_tag('look how fucking happy enock is 2.jpg', size: '950')
	.relativeContent.someTitleText
		%h1 How Does This Shit Work?
	.relativeContent.linksList
		%li
			=link_to image_tag('leadership button.jpg', size: '30%')