#content
	%div
		#title
			%h1 Green Hope | Our Story
		#words
			%div
				#blockB
					%div
						#left
							%h1 The Founding of Green Hope
							%p Green Hope was founded by Robert Snyder and Pooja Patel in 2011 after a volunteering trip to Arusha, Tanzania. While volunteering at Lasting Bless, a local primary school, Robert and Pooja met Harriet Joel, Green Hope Nursery's current headmistress. During their time in Arusha, Robert and Pooja visited Harriet's home, and discovered her dream of one day being able to open her own school to help the children of her village.
						#right
							=image_tag('rob pooja harriet.jpg')
				#blockA
					%div
						#left
							=image_tag('gh today.jpg')
						#right
							%h1 Today's Green Hope
							%p Green Hope is now a fully recognized, 501(c)(3) non-profit organization. We are devoted in our fight against poverty, seeing education as humanities greatest weapon against it. Currently, we are working with Harriet Joel and her dream of a world class school. From curriculum development and community organization to institutional management and donor outreach our non-profit does all it can to ensure Green Hope Nursery will become an academically rigourous and self sufficient institution.
				#blockB
					%div
						#left
							%h1 The Mission Continues
							%p The future of Green Hope seems bright, with an expansion into a pre & primary school underway, we are confident in our ability to make a meaningful impact upon the lives of our students. 
							%h2 Within the next two year, we will have raised over $60,000 and will break ground on our new primary school.
						#right
							=image_tag('mission continues.jpg')
