#content
	%div
		#title
			%h1 Sponsorship Program
		#featureBlock
			%div
				#left
					=image_tag('playground build.jpg')
				#right
					%p As part of our mission here at Green Hope, we look to provide the children and staff at our school with the nessessities to succeed. For the children this includes notebooks, pens, pencils, uniforms, and meals. For many students, the meal provided at school is the only meal they will have in a given day. For our teachers, your sponsorship will provide them with supplimentary salary to provide for their families and futures. One sponsorship will provide enough support to provide for a child for an entire year.
		#words
			%div
				#blockB
					%div
						#left
							%h1 How to become a sponsor
							%p There are two types of sponsorships, student & teacher. A student sponsorship costs $250, and will be split among the students to provide for food and supplies. A teacher sponsorshp costs $300 and is dispersed among the teachers as a salary suppliment. All donations are tax deductable. Donations are accepted through Paypal below!
							%ul
								%li
									<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="hosted_button_id" value="W95MALB882ZLQ"><input type="image" src="http://i.imgur.com/edXhYC5.jpg" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></form>
								%li
									<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="hosted_button_id" value="EDFWJYZ38EYU2"><input type="image" src="http://i.imgur.com/FJn9gwG.jpg" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></form>

						#right
							=image_tag('projects small.jpg')		