#content
	%div
		#title
			%h1 Students of Green Hope Nursery
		#students
			%ul
				%li
					#picture
						=image_tag('caroline.jpg')
					#words
						%h3 Caroline
						=link_to 'Sponsor Caroline', sponsorship_path
				%li
					#picture
						=image_tag('catherne.jpg')
					#words
						%h3 Catherne
						=link_to 'Sponsor Catherne', sponsorship_path
				%li
					#picture
						=image_tag('daniel.jpg')
					#words
						%h3 Daniel
						=link_to 'Sponsor Daniel', sponsorship_path
				%li
					#picture
						=image_tag('emmanuel.jpg')
					#words
						%h3 Emmanuel
						=link_to 'Sponsor Emmanuel', sponsorship_path
				%li
					#picture
						=image_tag('enoshi.jpg')
					#words
						%h3 Enoshi
						=link_to 'Sponsor Enoshi', sponsorship_path
				%li
					#picture
						=image_tag('erick.jpg')
					#words
						%h3 Erick
						=link_to 'Sponsor Erick', sponsorship_path
				%li
					#picture
						=image_tag('gladness.jpg')
					#words
						%h3 Gladness
						=link_to 'Sponsor Gladness', sponsorship_path
				%li
					#picture
						=image_tag('joshua.jpg')
					#words
						%h3 Joshua
						=link_to 'Sponsor Joshua', sponsorship_path
				%li
					#picture
						=image_tag('living.jpg')
					#words
						%h3 Living
						=link_to 'Sponsor Living', sponsorship_path
				%li
					#picture
						=image_tag('marko.jpg')
					#words
						%h3 Marko
						=link_to 'Sponsor Marko', sponsorship_path
				%li
					#picture
						=image_tag('noel.jpg')
					#words
						%h3 Noel
						=link_to 'Sponsor Noel', sponsorship_path
				%li
					#picture
						=image_tag('praygod.jpg')
					#words
						%h3 Praygod
						=link_to 'Sponsor Praygod', sponsorship_path
				%li
					#picture
						=image_tag('regan.jpg')
					#words
						%h3 Regan
						=link_to 'Sponsor Regan', sponsorship_path
				%li
					#picture
						=image_tag('sarahscolla.jpg')
					#words
						%h3 Sarahscolla
						=link_to 'Sponsor Sarahscolla', sponsorship_path
				%li
					#picture
						=image_tag('tom.jpg')
					#words
						%h3 Tom
						=link_to 'Sponsor Tom', sponsorship_path