#content
	%div
		#title
			%h1 The Teachers of Green Hope
		#teachers
			%div
				#blockA
					#words
						%p WORD N SHIT
					#picture
						=image_tag('harriet large.jpg')
				#blockB
					#picture
						=image_tag('teacher happiness.jpg')
					#words
						%h2 Teacher Happiness
						%p She teachers the kids