#content
	%div
		#peoplelist
			%ul
				%li
					#picture
						=image_tag('harriet large.jpg')
					#name
						%h1 Headmistress Harriet
						%p A teacher for over 10 years, Harriet has extensive experience working with young children. Harriet graduated college in 2003, after studying childhood education. Living in Olgilai, Harriet has a unique perspective on the needs of her village and how best to bring about change.
						%h2 Why is it important children start school at a young age?
						%p "When children start early they are given the ability to do well in school. They will know how to write. They will know how to count. Kids at this age play with everyone, even their parents, and when they play they are teaching their friends and familiy what they learn in school. This is good for the whole village." - Harriet
				%li
					#picture
						=image_tag('teacher rachel.jpg')
					#name
						%h1 Teacher Rachel
						%p Rachel has been a teacher at Green Hope for over two years. A recent college graduate, Rachel is committed to the sucess of the students, making a two hour long commute by foot each day to reach the school. Rachel is excellent with the children, teaching them new games and reading stories.
						%h2 What are some of the challenges of teaching in Tanzania?
						%p "Here, in Tanzania, we do not have access to good teaching materials, but we are still responsible for making the children learn. When we come to school, knowing we have to teach math, I think 'how can I teach today? What can I use?' Some days it is stones, some days I use sticks. It is always a struggle finding supplies." - Rachel
				-#%li
				-#	#picture
				-#		=image_tag('teacher happiness.jpg')
				-#	#name
				-#		%h1 Teacher Happiness
				-#		%p 