#content
	%div
		#title
			%h1 Green Hope | Volunteer Trip Experience
		#featureBlock
			%div
				#left
					=image_tag('vol large.jpg')
				#right
					%p Every summer Green Hope holds a four week long volunteer program to the Green Hope Nursery school in Olgili, Tanzania. During this time, University students help introduce and implement new teachings methods and administrative techniques to the nursery school. In doing so, our volunteers gain classroom and administrative experience while immersed in the culture and daily life of rural Tanzania. Volunteers will also have the opprotunity to explore the country, visiting both scenic national parks and small towns across northern Tanzania.
		#words
			%div
				#blockB
					%div
						#left
							%h1 A Typical Day
							%p While you're in Olgilai you will spend your mornings in the classroom, teaching the children and observing their experiences in the classroom. After lunch, there is time to do any number of things, including visiting student's homes, exploring Olgilai or Arusha, getting to know your host family, and working on organizational or independent projects.
						#right
							=image_tag('vol small.jpg')	