#content
	%div
		#title
			%h1 Projects | Volunteer Projects
		#featureBlock
			%div
				#left
					=image_tag('playground build.jpg')
				#right
					%p Our volunteers are driven and intelligent people, looking for unique ways to make their mark on Green Hope's history. From doing research around economic and social issues, to building facilities for the children, volunteers from all different walks of life passionately come together to bring their ideas to life. 
		#words
			%div
				#blockB
					%div
						#left
							%h1 Featured Project | Green Hope Nursery's Playground
							%p During our most recent trip, one bright volunteer imagined a new playground for the children at Green Hope Nursery. The volunteers spent hours designing a full playground, including a swingset, teeter-totter, balance beam, and teatherball pole. Built entirely from local materials, the volunteers spent the better part of two weeks constructing the playground.The playground at Green Hope Nursery is now the only playground in Olgilai, and quite an attraction for the local children.
						#right
							=image_tag('projects small.jpg')		