#content
	%div
		#title
			%h1 Green Hope | Our Volunteers
		#featured
			=image_tag('volunteer banner.jpg')
		#titleText
			%h1 Meet the people that make Green Hope great!
		#school
			%div
				%ul
					%li
						=link_to image_tag('trip experience button.jpg'), trip_path
						%span
							%h2.projects_picture_text Trip Experience
					%li
						=link_to image_tag('featured volunteer button.jpg'), featured_volunteers_path
						%span
							%h2.projects_picture_text Featured Volunteers
					%li
						%h1 Get Involved!
						<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top"><input type="hidden" name="cmd" value="_s-xclick"><input type="hidden" name="hosted_button_id" value="KW8HVC2DT7368"><input type="image" src="http://i.imgur.com/b2glpeh.jpg" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!"><img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1"></form>
						%h2 Contact Us: info@greenhope.us
					/%li
					/	=link_to image_tag('get involved button.jpg'), get_involved_path
					/	%span
					/		%h2.projects_picture_text Get Involved