#site-link{
	a: color:#FFFFFF;
}

body {
	background-color: #FFFFFF;
	color: #000000;
	font-family: 'Calibri';
	font-size: 14px;
	margin: 0;
	min-width: 950px;
	padding: 0;
}

a {
	outline: none;
}

img {
	border: 0;
}

p {
	font-size: 18px;
	text-align: justify;
	margin-top: 0px;
}

p a {
	color: #003300;
	font-style: italic;
}

h1 {
	color: #003300;	
}

h2 {
	color: #003300;
	text-align: justify;
}

#header { /* entire header section
		 i.e. everything above the big slider */
	height: auto; /* twice the logo pixel height */ /* NOT RIGHT */
	overflow: hidden;
	width: 100%;
	margin-bottom: 14px;
	margin-top: 14px;
	color: #FFFFFF;
}

#header div { /* div for all header content */
	margin: 0 auto;
	overflow: hidden;
	width: 950px;
}

#header div div#logo { /*Logo & Name, top bar */
	height: 35px ; /* exact logo pixel height */ /* NOT RIGHT */
	width: auto;
	float: center;
	padding-left: 132.5px;
	padding-right: 132.5px;
}

#header div div#navigation { /* Nav Bar container */
	height: auto; /* might also be exact logo pixel height */
	width: 950px;
	overflow: hidden;
	font: arial ;/*figure out fonts*/ /* NOT RIGHT */
	font-color: #FFFFFF;
}

#header div div#navigation div#primary { /* Nav buttons container */
	float: left;
	height: 29px; /* height of nav buttons */
	width: 950px;
}

#header div div#navigation div#primary div ul { /* actual nav buttons */
	background: none;
	clear: both;
	float: left;
	height: 30px; /* could also be the px height of the buttons */
	list-style: none;
	margin: 0;
	padding: 0;
	min-width: 950px;
	font-size: x-large;
}

#header div div#navigation div#primary div ul li:first-child {
	background: url(navigation-button-background.jpg); no-repeat center left;
	width: 150px;
	text-align: center;
	padding-right: 8px;
}

#header div div#navigation div#primary div ul li { /*MIGHT NOT NEED THIS!!!*/
	background: url(navigation-button-background.jpg); no-repeat center left;
	float: left;
	width: 150px;
	text-align: center;
	padding-right: 8px;
}

#header div div#navigation div#primary div ul li a {
	color: #FFFFFF;
	text-decoration: none;
}

#header div div#navigation div#primary div ul li.current a,
#header div div#navigation div#primary div ul li a:hover {
	background-color: #003300;
	text-shadow: #B2B2B2; /* Maybe choose a different color */
}

#header div div#navigation div#secondary { /* secondary buttons container */
	float: left;
	height: 30px;
	width: 948px;
	background-color: #003300;
}

#header div div#navigation div#secondary div {
	height: auto;
	width: 475px;
	text-align: center;
	float: left;
}

#header div div#navigation div#secondary div div p {
	padding-top: 5px;
	padding-bottom: 5px;
	height: 20px;
	margin: 0 auto;
	text-align: center;
}

#header div div#navigation div#secondary div {
	height: auto;
	width: 475px;
	text-align: center;
	float: right;
}

#header div div#navigation div#secondary div div p {
	padding-top: 5px;
	padding-bottom: 5px;
	height: 20px;
	margin: 0 auto;
	text-align: center;
}

#content {
	background-color: #FFFFFF;
	height: auto;
	width: 100%;
	margin: 0px 14px 14px 0px;
}

#content div {
	width: 950px;
	height: auto;
	margin: 0 auto;
}

#content div div#featured {
	width: 950px;
	height: auto;
	float: center;
	margin: 14px auto;
}

#content div div#featured div{
	float: center;
}

#content div div#title {
	width: 950px;
	height: 30px;
}

#content div div#title h1 {
	font-size: 28px;
	color: #003300;
	text-align: center;
}

#content div div#titleText {
	text-align: center;
	width: 850px;
	height: auto;
	padding: 14px auto;
}

#content div div#words {
	width: 950px;
	height: auto;
	margin: 0 auto;
}

#content div div#words div#blockA {
	width: 950px;
	margin: 0 auto;
	padding-top: 14px;
	height: 180px;
}

#content div div#words div#blockA div#left {
	float: left;
	width: 270px;
	height: auto;
}

#content div div#words div#blockA div#right {
	float: right;
	display: inline;
	width: 666px;
	height: auto;
	padding-left: 14px;
}

#content div div#words div#blockB {
	width: 950px;
	margin-top: 14px;
	display: block;
	height: 180px;
}

#content div div#words div#blockB div#left ul {
	list-style: none;
	margin: 0px 0px 0px 0px;
}

#content div div#words div#blockB div#left ul li {
		margin: 0px 0px 0px 0px;
		display: inline-block;
}

#content div div#words div#blockB div#left {
	float: left;
	width: 673px;
	height: auto;
	padding-right: 7px
}

#content div div#words div#blockB div#right {
	float: right;
	display: inline;
	width: 270px;
	height: auto;
}

#content div div#words div#blockC {
	height: 200px;
	float: center;
	width: 950px;
	text-align: center;
	padding-bottom: 14px;
}

#content div div#words h1 {
	font-size: 20px;
	color: #003300;
}

#content div div#homewords {
	margin-top: 14px;
	margin-bottom: 0px;
	height: 201px;

}

#content div div#homewords div#realwords {
	width: 380px;
	margin: 0 auto;
	float: left;
}

#content div div#homewords div#realwords p {
	font-size: 18px;	
}

#content div div#homewords div#picturelink {
	width: 270px;
	margin: 0 auto;
	display: inline;
	padding-left: 14px;
	padding-right: 14px;
	overflow: hidden;
	height: 201px;
}

.picture_link_text {
	width: 200px;
	height: auto;
	margin: -100px 0px -300px 400px;
	display: block;
	font-size: 40px;
	color: #FFFFFF;
	text-shadow: 4px 0 black;
}

#content div div#homewords div#socialbuttons {
	width: 271px;
	margin: 0 auto;
	float: right;
	display: inline;
}

#content div div#homewords div#socialbuttons div {
	width: auto;
	height: auto;
	margin: 0 auto;
	padding: 0 auto;
}

#content div div#homewords div#socialbuttons div ul {
	padding: 0px 0px 0px 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

#content div div#homewords div#socialbuttons div li:first-child {
	display: block;
	padding: 0 auto;
	width: 165px;
	margin: 0 auto;
}

#content div div#homewords div#socialbuttons div li {
	display: inline;
}

#content div div#links{
	height: 440px;
	width: 950px;
	margin: 14px auto;
}

#content div div#links div ul {
	width: 950px;
	padding: 0 0 0 0;
	margin: 0px auto;
	height: 440px;
}

#content div div#links div ul li:first-child {
	width: 300px;
	padding: 7px 7px 7px 7px;
}

#content div div#links div ul li:first-child span {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.picturetext {
	width: 200px;
	height: auto;
	margin: -50px 0px 0px 100px;
	display: block;
	font-size: 40px;
	color: #FFFFFF;
	text-shadow: 4px 0 black;
}

#content div div#links ul li {
	float: left;
	display: inline;
	padding: 7px 7px 7px 7px;
}

#content div div#links ul li p {
	font-size: 18px;
	text-align: right;
}

#content div div#leadership {
	width: 950px;
	height: 220px;
	margin: 14px 0px 14px 0px;
}

#content div div#leadership div ul {
	width: 950px;
	height: 220px;
	margin-top: 14px;
	padding-left: 0px;
}

#content div div#leadersihp div ul li:first-child {
	float: left;
	padding: 7px 7px 7px 0px;
}

#content div div#leadership div ul li:first-child span {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.leadership_picture_text {
	width: 200px;
	height: auto;
	margin: -100px 0px 0px 100px;
	display: block;
	font-size: 40px;
	color: #FFFFFF;
	text-shadow: 4px 0 black;
}

#content div div#leadership div ul li {
	float: left;
	display: inline;
	padding: 7px 7px 7px 7px;
}

#content div div#school {
	width: 950px;
	height: auto;
	margin: 14px 0px 14px 0px;
}

#content div div#school div ul {
	width: 950px;
	height: auto;
	margin-top: 14px;
	padding-left: 0px;
}

#content div div#school div ul li:first-child {
	float: left;
	padding: 7px 7px 7px 0px;
}

#content div div#school div ul li:first-child span {
	width: 100%;
	height: auto;
	margin: 0 auto;
}

.school_picture_text {
	width: 200px;
	height: auto;
	margin: -50px 0px 0px 60px;
	display: block;
	font-size: 40px;
	color: #FFFFFF;
	text-shadow: 4px 0 black;
	text-align: right;
}

.projects_picture_text {
	width: 200px;
	height: auto;
	margin: -100px 0px 0px 60px;
	display: block;
	font-size: 40px;
	color: #FFFFFF;
	text-shadow: 4px 0 black;
	text-align: right;
}

#content div div#school div ul li {
	float: left;
	display: inline;
	padding: 7px 7px 7px 7px;
	width: 300px;
	height: 201px;
}

#content div div#school div ul li #centerDonationButton {
	width: 165px;
	margin: 0px 68px 0px 67px;
}

#content div div#imageBarLeft {
	width: 200px;
	margin: 0 auto;
	padding-right: 7px;
	float: left;
	display: inline;
}

#content div div#imageBarLeft div ul {
	list-style-type: none;
	padding-left: 0px;
	padding-right: 0px;
}

#content div div#imageBarLeft div ul li:first-child {
	padding-top: 7px;
	width: 200px;
	height: 112px;
}

#content div div#imageBarLeft div ul li {
	padding-top: 7px;
	width: 200px;
	height: 112px;
}

#content div div#imageBarRight {
	width: 200px;
	margin: 0 auto;
	padding-left: 7px;
	float: right;
	display: inline;
}

#content div div#foundersLetter {
	width: 736px;
	height: auto;
	display: inline;
	float: right;
	padding-left: 7px;
}

#content div div#signature {
	width: 950px;
	height: auto;
	padding-left: 250px;
	padding-right: 250px;
}

#content div div#featureBlock {
	width: 950px;
	margin: 0 auto;
	height: 286px;
	padding-top: 14px;
}

#content div div#featureBlock div#left {
	width: 500px;
	height: auto;
	padding-right: 7px;
	float: left;
	display: inline;
}

#content div div#featureBlock div#right {
	width: 436px;
	height: auto;
	padding-left: 7px;
	float: right;
	display: inline;	
}

#content div div#subBlockTitle {
	width: 950px;
	height: 20px;
	text-align: center;
}

#content div div#subBlock {
	width: 950px;
	height: 500px;
	margin: 7px 0px 7px 0px;
}

#content div div#subBlock div#left {
	width: 300px;
	height: auto;
	padding-right: 7px;
	float: left;
	display: inline;
}

#content div div#subBlock div#center {
	width: 300px;
	height: auto;
	padding-left: 7px;
	padding-right: 7px;
	display: inline;
	float: left;
}

#content div div#subBlock div#right {
	width: 300px;
	height: auto;
	padding-left: 7px;
	float: right;
	display: inline;
}

#footer {
	width: 100%;
	height: auto;
	background-color: #FFFFFF;
	padding-bottom: 25px;
	float: center;
	margin: 14px 14px 14px 14px;
}

#footer div {
	width: 950px;
	height: auto;
	color: #003300;
	float: center;
	margin: 0 auto;
}

#footer div div#footertext
{
	float: center;
}

#footer div div#footertext p {
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	float: center;
	margin: 0px;
	padding-left: 315px;
	padding-right: 315px;
}

#content div div#navigation {
	width: 100%;
	height: auto;
}
#content div div#navigation div {
	width: 950px;
	height: auto;
}

#content div div#peoplelist {
	width: 950px;
	height: auto;
}

#content div div#peoplelist h1 {
	color: #003300;	
	margin: 0px 0px 0px 0px;
}

#content div div#peoplelist h2 {
	color: #003300;
	text-align: justify;
	margin: 0px 0px 0px 0px;
}


#content div div#peoplelist ul {
	width: 950px;
	height: auto;
	float: left;
	list-style: none;
	display: inline;
	padding: 0px 0px 0px 0px;
}

#content div div#peoplelist ul li {
	width: 950px;
	padding-top: 7px;
	padding-bottom: 7px;
	height: 250px;
}

#content div div#peoplelist ul li div#picture {
	height: 250px;
	width: 200px;
	float: left;
	padding-right: 7px;
}

#content div div#peoplelist ul li div#name {
	height: 250px;
	width: 736px;
	display: inline-block;
	padding-left: 7px;
}

.ECtext {
	margin: 0 auto;
	font-size: 18px;
	width: 743px;
}

#content div div#teachers {
	width: 950px;
	padding: 14px 0px 14px 0px;
}

#content div div#teachers div#blockA {
	height: 300px;
	width: 950px;
}

#content div div#teachers div#blockA div#words {
	width: 436px;
	height: auto;
	margin: 0 auto;
	padding-right: 7px;
	float: left;
}

#content div div#teachers div#blockA div#picture {
	width: 500px;
	height: auto;
	margin: 0 auto;
	padding-left: 7px;
	display: inline;
	float: right;
}

#content div div#teachers div#blockB {
	height: 300px;
	width: 950px;
}

#content div div#teachers div#blockB div#picture {
	width: 500px;
	height: auto;
	margin: 0 auto;
	padding-right: 7px;
	float: left;
}

#content div div#teachers div#blockB div#words {
	width: 436px;
	height: auto;
	margin: 0 auto;
	padding-left: 7px;
	float: right;
	display: inline;
}

#content div div#students {
	width: 950px;
	height: 1000px
}

#content div div#students ul {
	list-style: none;
	height: 1000px;
	width: 950px;
	padding: 0px 0px 0px 0px;
}

#content div div#students ul li {
	width: 175px;
	padding: 7px 7px 7px 7px;
	height: 300px;
	list-style: none;
	display: inline;
	margin: 0 auto;
	float: left;
}

#content div div#students ul li div#picture {
	height: 208px;
	list-style: none;
	width: 180px;
	margin: 0px 0px 0px 0px;
}

#content div div#students ul li div#words {
	height: 78px;
	list-style: none;
	margin: 0px 0px 0px 0px;
}



///////////////////////////////////////////////////////////////////////

#content div div#container {width:750px; height:200px; padding-top:0px;}
a, a:visited, a:hover, a:active {}

#content div div#container div#nav, #nav ul {padding:0; margin:0; list-style:none;}

#content div div#container div#nav {margin:0 auto; position:relative; overflow:hidden; width:700px; height:200px;}
#content div div#container div#nav div div {position:absolute; left:0; height:0; width:700px;}
#content div div#container div#nav ul {position:absolute; left:0; bottom:0;}

#content div div#container div#nav li {float:left; margin-top:26px;}
#content div div#container div#nav li.right {float:right;}
#content div div#container div#nav li.right ul {left:auto; right:0;}
#content div div#container div#nav li.right ul li {float:right;}

#content div div#container div#nav a {position:relative; line-height:26px; display:block; font-size:14px; padding:0 10px; text-decoration: none; outline:0;}
#content div div#container div#nav a.top-a {z-index:10; min-width:1px; margin-bottom:100px; color:#000;}
* html .nav a.top-a {width:1px;}

#content div div#container div#nav ul a {height:26px;top:26px;float:left; color:#000;}

#content div div#container div#nav ul a.pad {padding:0 1px;}

#content div div#container div#nav ul a.pad b {position:absolute; left:0; height:26px; display:block; width:700px; cursor:default;}
#content div div#container div#nav li.right ul a.pad b {left:auto; right:0;}

#content div div#container div#nav li:hover > a {color:#c00;}

#content div div#container div#nav a.top-a:hover, 
#content div div#container div#nav a.top-a:active, 
#content div div#container div#nav a.top-a:focus {margin-bottom:-52px; color:#c00;}

#content div div#container div#nav ul a:hover,
#content div div#container div#nav ul a:active,
#content div div#container div#nav ul a:focus {padding-bottom:52px; color:#c00;}

/////////////////////////////////////////////////////////////////////////////////////
.container {width:950px; height:70px; padding-top:390px; background:url(pullover/daisy.jpg);}
a, a:visited, a:hover, a:active {}
/* ================================================================ 
This copyright notice must be kept untouched in the stylesheet at 
all times.

The original version of this stylesheet and the associated (x)html
is available at http://www.cssplay.co.uk/menus/cssplay-pullover.html
Copyright (c) Stu Nicholls. All rights reserved.
This stylesheet and the associated (x)html may be modified in any 
way to fit your requirements.
=================================================================== */

.nav, .nav ul {padding:0; margin:0; list-style:none;}

.nav {margin:0 auto; position:relative; overflow:hidden; width:948px; height:60px; background: url(navigation-button-background.jpg) repeat-x;}
.nav div div {position:absolute; left:0; height:0; width:948px;}
.nav ul {position:absolute; left:0; bottom:0;}

.nav li {float:left; margin-top:0;}
.nav li.right {float:right;}
.nav li.right ul {left:auto; right:0;}
.nav li.right ul li {float:right;}

.nav a {position:relative; line-height:30px; display:block; font-family: verdana, sans-serif; font-size:18px; padding:0 10px; text-decoration:none; outline:0;}
.nav a.top-a {z-index:10; min-width:1px; margin-bottom:100px; color:#FFFFFF; text-align: center; width: 138px;}
* html .nav a.top-a {width:1px;}

.nav ul a {height:30px;top:30px;float:left; color:#FFFFFF;}

.nav ul a.pad {padding:0 1px;}

.nav ul a.pad b {position:absolute; left:0; height:30px; display:block; width:948px; cursor:default;}
.nav li.right ul a.pad b {left:auto; right:0;}

.nav li:hover > a {color:#FFCC00;}

.nav a.top-a:hover, 
.nav a.top-a:active, 
.nav a.top-a:focus {margin-bottom:0; color:#FFCC00;}

.nav ul a:hover,
.nav ul a:active,
.nav ul a:focus {padding-bottom:100px; color:#FFCC00;}	

/////////////////////////////////////////////////////////

/* Relative Development */

.relativeContent {
	width: 80%;
	height: auto;
	margin: 0% 10% 0% 10%;
}

.relativeContent.featuredImage {
	width: 80%;
	height: auto;
	margin: 0% auto;
}

.relativeContent.someTitleText {
	text-align: center;
	width: 80%;
	margin: 0% 10% 0% 10%;
}

.relativeContent.someTitleText h1 {
	font-size: 32px;
	color: #003300;
}

.relativeContent.linksList ul {
	list-style: none;
	margin: 0% 10% 0% 10%;
	width: 80%;
	height: auto;
}

.relativeContent.linksList li {
	float: left;
	width: 30%;
}