<div class="container">
<ul class="nav">
	<li><a class="top-a" href="/about">About Us</a>
		<div><div>
		<ul>
			<li><a class="pad" href="#x"><b></b></a></li>
			<li><a class="sub" href="/story">Our Story</a></li>
		</ul>
		</div></div>
	</li>
	<li><a class="top-a" href="/leadership">Leadership</a>
		<div><div>
		<ul>
			<li><a class="pad" href="#x"><b></b></a></li>
			<li><a class="sub" href="/founding">Our Founding |</a></li>
			<li><a class="sub" href="/directors">Board of Directors |</a></li>
			<li><a class="sub" href="/executive">Executive Commitee |</a></li>
		</ul>
		</div></div>
	</li>
	<li><a class="top-a" href="/school">School</a>
		<div><div>
		<ul>
			<li><a class="pad" href="#x"><b></b></a></li>
			<li><a class="sub" href="/staff">Staff |</a></li>
			<li><a class="sub" href="/students">Students |</a></li>
			<li><a class="sub" href="/facilities">Facilities</a></li>
		</ul>
		</div></div>
	</li>
	<li><a class="top-a" href="/projects">Projects</a>
		<div><div>
		<ul>
			<li><a class="pad" href="#x"><b></b></a></li>
			<li><a class="sub" href="/volunteer_projects">Volunteer Projects |</a></li>
			<li><a class="sub" href="curriculum">Curriculum Development |</a></li>
			<li><a class="sub" href="/primary">Green Hope Primary</a></li>
		</ul>
		</div></div>
	</li>
	<li><a class="top-a" href="/volunteer">Volunteer</a>
		<div><div>
		<ul>
			<li><a class="pad" href="#x"><b></b></a></li>
			<li><a class="sub" href="/trip">Trip Experience |</a></li>
			<li><a class="sub" href="/featured_volunteers">Featured Volunteers</a></li>
		</ul>
		</div></div>
	</li>
	<li><a class="top-a" href="/donate">Donate</a>
		<div><div>
		<ul>
			<li><a class="pad" href="#x"><b></b></a></li>
			<li><a class="sub" href="/sponsorship">Sponsorships |</a></li>
			<li><a class="sub" href="/partners">Partners</a></li>
		</ul>
		</div></div>
	</li>
</ul>
</div>
